body {
    color: grey;
}

#user-one-choice {
    border-radius: 10px;
    padding: 10px;
    background-color: #e6e8ed;
    margin-left: 15px;
    margin-right: 70px;
}

#user-two-choice {
    border-radius: 10px;
    padding: 10px;
    background-color: #e6e8ed;
    margin-right: 15px;
    margin-left: 70px;
}

#user-input {
    width: 300px;
    display: -webkit-inline;
}

h1 {
    margin-left: -17px;
    margin-bottom: 30px;
}

#user-one-name {
    margin-top: 20px;
    font-size: large;
    color: #3acbe8;
}

#user-two-name {
    margin-top: 20px;
    font-size: large;
    color: #3acbe8;
}

#instructions {
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
}

#sign-out {
    margin-top: 5px;
}

.btn-default {
    background-color: #3acbe8;
    color: white;
    position: relative;
    left: 210px;
    margin-bottom: 40px;
}

.btn-default:hover {
    background-color: white;
    color: #3acbe8;
    border: 1px solid #3acbe8;
}

.choices {
    margin: 5px;
    border-radius: 5px;
    background-color: #e53063;
    color: white;
    border: #e53063;
}

.choices:hover {
    cursor: pointer;
    background-color: white;
    color: #e53063;
    border: 1px solid #e53063;
}

